@font-face {
    font-family: QuizFont;
    src: url(src/assets/core/Roboto-Regular.ttf);
  }

body {
    padding-top: 5px;
    font-family: "QuizFont", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#imageHolder {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#questionImage {
  max-height: 25vh;
}
#topbar {
    position: absolute;
    top: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    background: #313234;
    border-bottom: 3px solid #212224;
    outline: 2px solid black;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
}
#players {
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.player {
  padding: 3px;
  position: relative;
  width: calc(25% - 14px);
  font-size: 14px;
  background:  #48494b;
  border-bottom: 3px solid #212224;
  outline: 2px solid black;
  box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.playerName {
  text-align: center;
  color: white;
  font-weight: bold;
  height: 20px;
  font-size: 8px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 3px;
}

.playerAvatar {
  width: 75%;
}

.playerStatus {
  background: black;
  color: white;
  bottom: 5px;
  width: 75%;
  padding: 3px;
  padding-top: 5px;
  font-variant: small-caps;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align:center;
  font-weight: bold;
  height: 10px;
  font-size: 10px;
  position: absolute;
  bottom: -4px;
  line-height: 9px;
}

.playerScore {
  background:#f9fe54;
  position: absolute;
  left: -5px;
  top: -5px;
  border: 1px solid black;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: black;
  width: 17px;
  height: 17px;
  text-align:center;
  box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
}

#languageSelect {
  background: rgba(0,0,0,0.5);
  font-size: 35px;
  height: 35px;
  line-height: 35px;
  padding: 2px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.language {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid transparent;
  border-radius: 10px;
}

#ready {
    background: #313234;
    border: 2px solid black;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 300px;
  overflow: hidden;
}

#readyTitle {
    border-top: #5c5d5f 4px solid;

    padding-bottom: 10px;
    padding-top: 10px;
}

#readyContent {
    padding-top: 15px;
    box-shadow: rgba(0,0,0,0.2) 2px -3px 2px;
    color: white;
   background:  #48494b;
   height: 100%;
   padding-left: 20px;
   padding-right: 20px;
}

.sectionTitle {
    margin-bottom: 8px;
}

.selector {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.option {
    outline: 2px solid black;
    border-top: 4px solid #c6c6c6;
    border-bottom: 4px solid #c6c6c6;
    padding: 3px;
    padding-top: 6px;
    background: #c6c6c6;
    color: black;
    width: 20%;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
}

.optionSelected {
    background: #f9fe54;
    color: black;
    border-top: 4px solid #fdda11;
    border-bottom: 4px solid #f9fe54;
}

#configCount {
    width: 100%;
}

.cta {
    background: #1f8405;
    box-shadow: rgba(0,0,0,0.2) 2px -3px 2px;
    margin-top: 20px;
    padding: 10px;
    outline: 2px solid black;
    border-top: 2px solid #31b024;
    border-left: 2px solid #31b024;
    border-right: 2px solid #003a00;
    border-bottom: 2px solid #003a00;
    padding-top: 15px;
}

#timerConfigHolder {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
#question {
    background: #313234;
    border: 2px solid black;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  display: none;
}
#questionHeading {
    border-top: 4px solid #5c5d5f;
    padding-left: 10px;
    padding-right: 10px;
}
#questionNumber {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}
#questionContent {
    padding-top: 25px;
    box-shadow: rgba(0,0,0,0.2) 2px -3px 2px;
    color: black;
   background:  #48494b;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 25px;

}
#questionText {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#answers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: stretch;

}
.answer {
  margin: 5px;
  width: calc(50% - 24px);
  text-align: center;
  border: 2px black solid;
  color: #404040;
  padding: 3px;
  padding-top: 6px;
  min-height: 50px;
  background: #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.slots {
  height: 30px;
  width: 100%;
  top: -15px;
  position: absolute;
}

.smallAvatar {
  width: 25px;
  height: 25px;
}

.bg {   
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  left: 0px;
}

.selected {
  background: #f9fe54;
  border: 2px solid orange;
  font-weight: bold;
  color: black;
}

.correct {
  background: #1f8405;
  border: 2px solid #0f7400;
  font-weight: bold;
  color: white;
} 

.selected.correct {
  background: #1f8405;
  border: 2px solid orange;
  font-weight: bold;
  color: white;

}

.check {
   background-image: url(src/assets/core/check.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 25px;
   height: 25px;
   display: absolute;
   position: absolute;
   right: 15%;
   bottom: 25px;
   display: none;
}
.THINKING {
  background: #c6c6c6;
  color: black;
}
.READY {
  background: #1f8405;
  color: white;
}
.FASTEST {
  background: #f9fe54;
  color: black;
}

#timebar {
  width: 100%;
  background: #4d4980;
  height: 7px;
  border: 1px white solid;
  margin-bottom: 10px;
}